.Editor {
  font-size: 0.875rem;
  font-family: var(--font-mono);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
  overflow: hidden;

  * {
    font-family: var(--font-mono);
  }

  &[data-focused='true'] {
    box-shadow:
      0 0 0 3px rgba(var(--color-primary) / 0.3),
      0 0 0 1px var(--primary-color);
  }

  :global {
    .cm-editor {
      height: var(--editor-height);

      .cm-selectionBackground {
        background-color: rgba(var(--color-primary) / 0.5) !important;
      }
    }
    .cm-focused {
      outline: none;
    }
    .cm-gutters {
      background-color: var(--background-color);
      color: var(--foreground-color);
      border-color: var(--border-color);
    }
    .cm-activeLine {
      background-color: rgba(var(--color-muted) / 0.5);
    }
    .cm-activeLineGutter {
      background-color: var(--muted-color);
    }
    .cm-cursor {
      border-left-color: var(--foreground-color);
    }
  }
}

.EditorErrorIcon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}
