@font-face {
  font-family: 'Geist Mono';
  src: url('./GeistMono-Regular.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./GeistMono-Bold.ttf');
  font-style: normal;
  font-weight: bold;
}
