.SearchInput {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  :global(.Input) {
    padding-left: 2rem;
  }
}

.SearchInputIcon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}
