.Terminal {
  height: 100%;
  :global {
    .xterm-rows {
      > div {
        padding-inline: var(--spacing-md);
      }
    }

    .xterm-cursor {
      transition: all 0.5s ease-in !important;
    }
  }
}
