.ModalBackdrop {
  background-color: rgba(0 0 0 / 0.75);
  position: fixed;
  inset: 0;
  z-index: 9998;
  transition: all 0.1s ease-in;
  opacity: 1;
  backdrop-filter: blur(4px);
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.ModalHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--muted-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.ModalTitle {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
}

.ModalDescription {
  font-size: 0.875rem;
  margin: 0;
  margin-top: var(--spacing-md);
}

.ModalContent {
  background-color: transparent;
  border-radius: var(--border-radius);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 30rem;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9999;
  transition: all 0.1s ease-in;
  &[data-starting-style],
  &[data-ending-style] {
    transform: translate(-50%, -50%) scale(0.5);
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: calc(100% + 0.5rem);
    height: calc(100% + 0.5rem);
    background-color: rgba(var(--color-primary) / 0.2);
    border-radius: var(--border-radius);
    z-index: 0;
  }
}

.ModalWrapper {
  padding: 1rem;
}

.ModalCloseIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
