.ModalBackdrop {
  background-color: rgba(var(--color-muted) / 0.5);
  position: fixed;
  inset: 0;
  z-index: 9998;
  transition: all var(--transition-duration) ease-in;
  opacity: 1;
  backdrop-filter: blur(4px);
  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.ModalHeader {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.ModalTitle {
  font-size: 1.25rem;
  margin: 0;
  font-weight: bold;
}

.ModalDescription {
  font-size: 0.875rem;
  margin: 0;
  margin-top: var(--spacing-md);
}

.ModalContent {
  background-color: var(--background-color);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 30rem;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9999;
  transition: all var(--transition-duration) ease-in;
  border: 1px solid var(--border-color);
  border-radius: calc(var(--border-radius) * 2);
  box-shadow: var(--box-shadow);
  &[data-starting-style],
  &[data-ending-style] {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.ModalWrapper {
  padding: 1rem;
}

.ModalCloseIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  --border-radius: 50%;
}
