@import url('./colors.css');

:root {
  --primary-color: rgba(var(--color-primary) / 1);
  --primary-foreground-color: rgba(var(--color-primary-foreground) / 1);
  --accent-color: rgba(var(--color-accent) / 1);
  --background-color: rgba(var(--color-background) / 1);
  --foreground-color: rgba(var(--color-foreground) / 1);
  --muted-color: rgba(var(--color-muted) / 1);

  --border-color: rgba(var(--color-border) / 1);
  --border-radius: 0.25rem;
  --box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  --font-mono:
    ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', 'Ubuntu Mono',
    'Roboto Mono', Menlo, Consolas, 'Liberation Mono', monospace;
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;

  --color: var(--foreground-color);
  --bg-color: transparent;

  --success-color: rgba(var(--color-success) / 1);
  --success-bg-color: rgba(var(--color-success-bg) / 1);

  --warning-color: rgba(var(--color-warning) / 1);
  --warning-bg-color: rgba(var(--color-warning-bg) / 1);

  --danger-color: rgba(var(--color-danger) / 1);
  --danger-bg-color: rgba(var(--color-danger-bg) / 1);
}

:root {
  --color-primary: 220 56 45;
  --color-primary-foreground: var(--color-gray-50);
  --color-accent: 194 49 40;

  --color-background: 255 255 255;
  --color-muted: var(--color-gray-200);
  --color-foreground: 0 0 0;
  --color-border: var(--color-gray-100);

  --color-success: var(--color-green-600);
  --color-success-bg: var(--color-green-100);
  --color-warning: var(--color-yellow-600);
  --color-warning-bg: var(--color-yellow-100);
  --color-danger: var(--color-red-600);
  --color-danger-bg: var(--color-red-100);
}

:root.dark {
  --color-primary: 220 56 45;
  --color-primary-foreground: var(--color-gray-800);
  --color-accent: 194 49 40;

  --color-background: var(--color-gray-950);
  --color-muted: var(--color-gray-900);
  --color-foreground: var(--color-gray-50);

  --color-border: var(--color-gray-800);

  --color-success: var(--color-green-600);
  --color-success-bg: var(--color-green-950);
  --color-warning: var(--color-yellow-600);
  --color-warning-bg: var(--color-yellow-950);
  --color-danger: var(--color-red-600);
  --color-danger-bg: var(--color-red-950);
}

[data-sonner-toast] {
  --border-radius: 0px;
  border-radius: var(--border-radius);
}

* {
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
  border-color: var(--border-color);
  user-select: none;
}

html,
body {
  overscroll-behavior: none;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 16px;
}

code {
  font-family: var(--font-mono);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
