@import url('./assets/fonts/index.css');
@import url('./colors.css');

:root {
  --primary-color: rgba(var(--color-primary) / 1);
  --primary-foreground-color: rgba(var(--color-primary-foreground) / 1);
  --accent-color: rgba(var(--color-accent) / 1);
  --background-color: rgba(var(--color-background) / 1);
  --foreground-color: rgba(var(--color-foreground) / 1);
  --muted-color: rgba(var(--color-muted) / 1);

  --border-color: rgba(var(--color-border) / 1);
  --border-radius: 0rem;
  --border-style: dashed;

  --font-mono: 'Geist Mono', monospace;
  --font-sans: var(--font-mono);

  --spacing-md: 0.5rem;

  --color: var(--foreground-color);
  --bg-color: transparent;

  --success-color: rgba(var(--color-success) / 1);
  --success-bg-color: rgba(var(--color-success-bg) / 1);

  --warning-color: rgba(var(--color-warning) / 1);
  --warning-bg-color: rgba(var(--color-warning-bg) / 1);

  --danger-color: rgba(var(--color-danger) / 1);
  --danger-bg-color: rgba(var(--color-danger-bg) / 1);
}

:root {
  --color-primary: 0 0 0;
  --color-primary-foreground: 255 255 255;
  --color-accent: 35 35 35;
  --color-background: 255 255 255;
  --color-muted: 220 220 220;
  --color-foreground: 0 0 0;
  --color-border: 230 230 230;

  --color-success: var(--color-green-600);
  --color-success-bg: var(--color-green-100);
  --color-warning: var(--color-yellow-600);
  --color-warning-bg: var(--color-yellow-100);
  --color-danger: var(--color-red-600);
  --color-danger-bg: var(--color-red-100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 245 245 245;
    --color-primary-foreground: 10 10 10;
    --color-accent: 229 229 229;

    --color-background: 0 0 0;
    --color-muted: 23 23 23;
    --color-foreground: 255 255 255;

    --color-border: 38 38 38;

    --color-success: var(--color-green-600);
    --color-success-bg: var(--color-green-950);
    --color-warning: var(--color-yellow-600);
    --color-warning-bg: var(--color-yellow-950);
    --color-danger: var(--color-red-600);
    --color-danger-bg: var(--color-red-950);
  }
}

[data-sonner-toast] {
  --border-radius: 0px;
  border-radius: var(--border-radius);
}

* {
  font-family:
    var(--font-sans),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

* {
  box-sizing: border-box;
  border-color: var(--border-color);
}

html,
body {
  overscroll-behavior: none;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

code {
  font-family: var(--font-mono);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
