.Switch {
  position: relative;
  display: flex;
  appearance: none;
  margin: 0;
  padding: 1px;
  width: 2.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 1.25rem;
  transition: all var(--transition-duration) ease-in;
  cursor: pointer;

  &[data-checked] {
    background-color: rgba(var(--color-primary) / 0.5);
  }
}

.Thumb {
  aspect-ratio: 1 / 1;
  height: 100%;
  border-radius: 100%;
  background-color: var(--foreground-color);
  transition: translate var(--transition-duration) ease;

  &[data-checked] {
    translate: 1rem 0;
  }
}
