---
import SEOHead from '@web/components/SEOHead.astro'
const lang = Astro.currentLocale
---

<script>
  import '../styles/global.css'
</script>

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <SEOHead />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Geist+Mono:wght@100..900&family=Noto+Sans+SC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="e82b62bd-062e-4172-92db-73a4fb9b6927"></script>
  </head>
  <body class="relative">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    overscroll-behavior: none;
  }
  :root {
    font-family: 'Bricolage Grotesque', 'Noto Sans SC', sans-serif;
    --border-radius: 0.5rem;
    --font-mono: 'Geist Mono', monospace;
  }

  body {
    background-image: url('/bg.svg');
    background-repeat: repeat;
  }
</style>
