.Layout {
  --sider-width: 15rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: var(--header-height);
  padding: 0 1rem;
}

.Sider {
  flex-shrink: 0;
  width: var(--sider-width);
  border-right: 1px solid var(--border-color);
}

.Content {
  width: calc(100vw - var(--sider-width));
  flex: 1;
}

.Instance {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  padding: var(--spacing-md);
  cursor: pointer;
  transition: all 0.1s ease-in;
  color: var(--foreground-color);
  &:hover {
    background-color: var(--muted-color);
    .InstanceActions {
      opacity: 1;
      pointer-events: unset;
    }
  }

  &[data-active='true'] {
    background-color: var(--muted-color);
  }
  .InstanceIcon {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
  }

  .InstanceActions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: var(--spacing-md);
    transform: translateY(-50%);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in;
    :global(Button) {
      --size: 1.5rem;
    }
  }
}
