.RedisKeySearch {
  display: flex;
  align-items: center;
  width: 100%;
  --border-radius: 0px;
}

.RedisKeySearchTypeSelect {
  width: 8rem;
  :global {
    .SelectRoot {
      border-width: 0px;
      border-right-width: 1px;
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
}

.RedisKeySearchInputRoot {
  display: flex;
  align-items: center;
  width: 100%;
}

.RedisKeySearchInputIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

.RedisKeySearchInput {
  display: inline-block;
  height: 100%;
  background-color: transparent;
  color: var(--foreground-color);
  outline: none;
  border: none;
  width: 100%;
  font-size: 0.875rem;
}

.RedisKeySearchInputIcon {
  width: 1rem;
  height: 1rem;
}
