.KeysTreeNode {
  --border-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  user-select: none;
  border: 1px dashed var(--border-color);
  color: var(--foreground-color);
  background-color: var(--background-color);
  transition: all var(--transition-duration) ease-in;
  cursor: pointer;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: var(--muted-color);
  }

  &[data-open='true'] {
    .KeysTreeNodeIcon {
      &[data-type='arrow'] {
        transform: rotate(90deg);
      }
    }
  }

  &[data-selected='true'] {
    --border-color: var(--primary-color);
  }
}

.KeysTreeNodeIcon {
  width: 1rem;
  height: 1rem;
  transition: all var(--transition-duration) ease-in;
  flex-shrink: 0;
}
