.Editor {
  font-size: 0.875rem;
  font-family: var(--font-mono);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 100%;
  overflow: hidden;

  * {
    font-family: var(--font-mono);
  }

  &[data-focused='true'] {
    box-shadow:
      0 0 0 3px rgba(var(--color-primary) / 0.3),
      0 0 0 1px var(--primary-color);
  }

  :global {
    .cm-editor {
      height: 20rem;
    }
    .cm-focused {
      outline: none;
    }
  }
}
