.ContextMenuPositioner {
  z-index: 999;
}

.ContextMenuContent,
.ContextMenuSubContent {
  min-width: 12rem;
  background-color: var(--background-color);
  padding: var(--spacing-md);
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
}

.ContextMenuItem {
  --color: var(--foreground-color);
  --bg-color: var(--muted-color);
  --hover-bg-color: var(--bg-color);
  font-size: 0.875rem;
  color: var(--color);
  display: flex;
  align-items: center;
  height: 2rem;
  position: relative;
  padding: 0 var(--spacing-md);
  user-select: none;
  outline: none;
  cursor: pointer;
  gap: var(--spacing-md);
  transition: all var(--transition-duration) ease-in;
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--bg-color);
  }
}

.ContextMenuItemIcon {
  width: 1rem;
  height: 1rem;
}
