.Layout {
  --sider-width: 15rem;
  height: 100%;
}

.Header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  height: var(--header-height);
  padding: 0 1rem;
}

.Sider {
  flex-shrink: 0;
  width: var(--sider-width);
  border-right: 1px solid var(--border-color);

  &[data-panel-size='0.0'] {
    border-right: 0;
  }
}

.Content {
  width: calc(100vw - var(--sider-width));
  flex: 1;
}
