.LoaderWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--color-background) / 0.2);
  backdrop-filter: blur(5px);
  cursor: progress;
  transition: all 0.3s ease-in;
  z-index: 10;
}

.PageSizeSelector {
  flex-shrink: 0;
  :global {
    .SelectRoot {
      border-width: 0px;
      border-right-width: 1px;
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
}
