---
const lang = Astro.currentLocale
const supportedLocales = [
  { id: 'en', label: 'English' },
  { id: 'zh', label: '简体中文' },
]
---

<select id="language-select">
  {
    supportedLocales.map((locale) => (
      <option value={locale.id} selected={lang === locale.id}>
        {locale.label}
      </option>
    ))
  }
</select>

<script>
  const languageSelect = document.getElementById(
    'language-select'
  ) as HTMLSelectElement
  languageSelect?.addEventListener('change', (e: Event) => {
    const nextLang = (e.target as HTMLSelectElement).value
    const currentPath = window.location.pathname
    const pathSegments = currentPath.split('/')
    pathSegments[1] = nextLang === 'en' ? '' : 'zh'
    window.location.href = `/${pathSegments.filter(Boolean).join('/')}`
  })
</script>
